@import url(https://fonts.googleapis.com/css?family=Nunito);* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Nunito", sans-serif;
}

.container {
  width: 1000px;
  margin: auto;
}

.movies {
  background-color: lightgreen;
  height: 100vh;
  overflow-y: scroll;
}

.movies .container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.movies .container .movie {
  background-color: white;
  width: 250px;
  padding: 2rem;
  border: 2px solid white;
  box-shadow: 3px 3px black;
  margin: 0.5rem;
}

